In [15]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [3]:
df=pd.read_csv('lemon_training.csv')
df.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020
3,6,0,12/7/2009,ADESA,2004,5,MITSUBISHI,GALANT 4C,ES,4D SEDAN ES,...,8149.0,9451.0,NaN,NaN,19638,33619,FL,5600.0,0,594
4,7,0,12/7/2009,ADESA,2004,5,KIA,SPECTRA,EX,4D SEDAN EX,...,6230.0,8603.0,NaN,NaN,19638,33619,FL,4200.0,0,533

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51088 entries, 0 to 51087
Data columns (total 34 columns):
RefId                                51088 non-null int64
IsBadBuy                             51088 non-null int64
PurchDate                            51088 non-null object
Auction                              51088 non-null object
VehYear                              51088 non-null int64
VehicleAge                           51088 non-null int64
Make                                 51088 non-null object
Model                                51088 non-null object
Trim                                 49426 non-null object
SubModel                             51082 non-null object
Color                                51082 non-null object
Transmission                         51081 non-null object
WheelTypeID                          48819 non-null float64
WheelType                            48816 non-null object
VehOdo                               51088 non-null int64
Nationality                          51086 non-null object
Size                                 51086 non-null object
TopThreeAmericanName                 51086 non-null object
MMRAcquisitionAuctionAveragePrice    51076 non-null float64
MMRAcquisitionAuctionCleanPrice      51076 non-null float64
MMRAcquisitionRetailAveragePrice     51076 non-null float64
MMRAcquisitonRetailCleanPrice        51076 non-null float64
MMRCurrentAuctionAveragePrice        50872 non-null float64
MMRCurrentAuctionCleanPrice          50872 non-null float64
MMRCurrentRetailAveragePrice         50872 non-null float64
MMRCurrentRetailCleanPrice           50872 non-null float64
PRIMEUNIT                            2388 non-null object
AUCGUART                             2388 non-null object
BYRNO                                51088 non-null int64
VNZIP1                               51088 non-null int64
VNST                                 51088 non-null object
VehBCost                             51088 non-null float64
IsOnlineSale                         51088 non-null int64
WarrantyCost                         51088 non-null int64
dtypes: float64(10), int64(9), object(15)
memory usage: 13.3+ MB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
RefId,51088.0,36618.299503,21047.637595,1.0,18479.25,36685.0,54851.5,73013.0
IsBadBuy,51088.0,0.123101,0.328557,0.0,0.00,0.0,0.0,1.0
VehYear,51088.0,2005.345893,1.727976,2001.0,2004.00,2005.0,2007.0,2010.0
VehicleAge,51088.0,4.172780,1.709315,0.0,3.00,4.0,5.0,9.0
WheelTypeID,48819.0,1.494992,0.521792,0.0,1.00,1.0,2.0,3.0
VehOdo,51088.0,71550.864880,14610.426618,5368.0,61866.75,73434.5,82478.0,115717.0
MMRAcquisitionAuctionAveragePrice,51076.0,6130.263999,2461.426275,0.0,4273.00,6099.5,7768.0,35722.0
MMRAcquisitionAuctionCleanPrice,51076.0,7376.365671,2721.803428,0.0,5406.00,7306.5,9027.0,36859.0
MMRAcquisitionRetailAveragePrice,51076.0,8497.024434,3155.655885,0.0,6268.00,8435.5,10648.0,39080.0
MMRAcquisitonRetailCleanPrice,51076.0,9853.113086,3385.328527,0.0,7483.00,9772.0,12088.0,41482.0
MMRCurrentAuctionAveragePrice,50872.0,6135.332934,2432.202199,0.0,4279.00,6063.0,7743.0,35722.0
MMRCurrentAuctionCleanPrice,50872.0,7394.514251,2682.701099,0.0,5415.00,7308.0,9018.0,36859.0
MMRCurrentRetailAveragePrice,50872.0,8776.393262,3087.064877,0.0,6533.00,8715.0,10915.0,39080.0
MMRCurrentRetailCleanPrice,50872.0,10146.978357,3305.865439,0.0,7781.00,10099.5,12309.0,41062.0
BYRNO,51088.0,26376.254913,25727.370369,835.0,17212.00,19662.0,22808.0,99761.0
VNZIP1,51088.0,58154.511764,26148.295399,2764.0,32124.00,74135.0,80022.0,99224.0
VehBCost,51088.0,6728.222272,1768.991083,1.0,5425.00,6700.0,7900.0,38785.0
IsOnlineSale,51088.0,0.025035,0.156234,0.0,0.00,0.0,0.0,1.0
WarrantyCost,51088.0,1276.712320,600.140901,462.0,837.00,1169.0,1623.0,7498.0

In [62]:
df.BYRNO.unique()

array([21973, 19638,  5546, 19619, 20928, 19064, 20740, 17675, 99740,
       52117, 22916,  1231, 20207,  1235, 17212, 20833,  8655, 19662,
       22808,  3453, 21047, 20392, 25100,  1045, 18881, 10315, 18111,
       11410, 16044,  1141, 52646, 52492, 52598,  8172, 18880,  1125,
       52644, 10430, 18822, 53245,  1085,  1082,   835, 20234, 21053,
       99750, 99761,  1031, 99741,  1035,  1191, 23359,  1151,  1051,
       23657, 16926,  1121, 11210,  1086,  1055,  1041, 10420, 10310,
        1081,  1156,  1157, 16369, 10510, 10410,  1152, 18091], dtype=int64)

In [63]:
df.VNST.unique()

array(['FL', 'VA', 'IA', 'AR', 'MN', 'TN', 'PA', 'OH', 'AL', 'MI', 'TX',
       'IL', 'MA', 'AZ', 'GA', 'NC', 'MD', 'CA', 'UT', 'OR', 'SC', 'CO',
       'ID', 'NV', 'WV', 'MS', 'OK', 'NM', 'LA', 'IN', 'MO', 'WA', 'NH',
       'NJ', 'NY', 'NE', 'KY'], dtype=object)

In [70]:
df['Auctioncat'] = df['Auction'].map({'OTHER':0, 'ADESA':1, 'MANHEIM':2})
df['Makecat'] = df['Make'].map({'MAZDA':0, 'DODGE':1, 'FORD':2, 'MITSUBISHI':3, 'KIA':4, 'CHEVROLET':5, 'SATURN':6,  'GMC':7, 'MERCURY':8, 'HYUNDAI':9, 'CHRYSLER':10, 'NISSAN':11, 'PONTIAC':12, 'JEEP':13, 'SUZUKI':14, 'HONDA':15, 'OLDSMOBILE':16, 'TOYOTA':17, 'BUICK':18, 'SCION':19, 'VOLKSWAGEN':20, 'ISUZU':21, 'LINCOLN':22, 'MINI':23, 'SUBARU':24, 'CADILLAC':25, 'VOLVO':26,'INFINITI':27,'LEXUS':28,'ACURA':29,'TOYOTA SCION':30, 'PLYMOUTH':31})
df['Color'] = df['Color'].fillna('NOT AVAIL')
df['Transmissioncat'] = df['Transmission'].map({'AUTO':0, 'MANUAL':1, 'Manual':1, 'NaN':2})
df['WheelTypecat'] = df['WheelType'].map({'Alloy':0, 'Covers':1, 'Special':1, 'NaN':2})
df['Nationalitycat'] = df['Nationality'].map({'OTHER ASIAN':0, 'AMERICAN':1, 'TOP LINE ASIAN':1, 'OTHER':2, 'NaN':3})
df['Sizecat'] = df['Size'].map({'MEDIUM':0, 'LARGE TRUCK':1, 'COMPACT':1, 'VAN':2, 'MEDIUM SUV':3, 'LARGE':4, 'LARGE SUV':5, 'SPORTS':6, 'SPECIALTY':7, 'CROSSOVER':8, 'SMALL SUV':9, 'SMALL TRUCK':10, 'NaN':11})
df['Top3Amercat'] = df['TopThreeAmericanName'].map({'OTHER':0, 'CHRYSLER':1, 'FORD':1, 'GM':2, 'NaN':3})
df['PRIMEUNITcat'] = df['PRIMEUNIT'].map({'NO':0, 'YES':1, 'NaN':1})
df['AUCGUARTcat'] = df['AUCGUART'].map({'GREEN':0, 'RED':1, 'NaN':1})
df.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,WarrantyCost,Auctioncat,Makecat,Transmissioncat,WheelTypecat,Nationalitycat,Sizecat,Top3Amercat,PRIMEUNITcat,AUCGUARTcat
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,1113,1,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,1053,1,1,0.0,0.0,1.0,1.0,1.0,NaN,NaN
2,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,1020,1,2,1.0,1.0,1.0,1.0,1.0,NaN,NaN
3,6,0,12/7/2009,ADESA,2004,5,MITSUBISHI,GALANT 4C,ES,4D SEDAN ES,...,594,1,3,0.0,1.0,0.0,0.0,0.0,NaN,NaN
4,7,0,12/7/2009,ADESA,2004,5,KIA,SPECTRA,EX,4D SEDAN EX,...,533,1,4,0.0,1.0,0.0,0.0,0.0,NaN,NaN

In [74]:
df1= df.drop(["RefId", "PurchDate", "Make", "Model", "Trim", "SubModel", "Color", "Transmission", "WheelTypeID", 'WheelType', "Nationality", "Size", "TopThreeAmericanName", "PRIMEUNIT", "AUCGUART", "VNST", "Auction"], axis = 1)

In [75]:
df1.head(10)

,IsBadBuy,VehYear,VehicleAge,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,...,WarrantyCost,Auctioncat,Makecat,Transmissioncat,WheelTypecat,Nationalitycat,Sizecat,Top3Amercat,PRIMEUNITcat,AUCGUARTcat
0,0,2006,3,89046,8155.0,9829.0,11636.0,13600.0,7451.0,8552.0,...,1113,1,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,0,2004,5,93593,6854.0,8383.0,10897.0,12572.0,7456.0,9222.0,...,1053,1,1,0.0,0.0,1.0,1.0,1.0,NaN,NaN
2,0,2005,4,69367,3913.0,5054.0,7723.0,8707.0,3247.0,4384.0,...,1020,1,2,1.0,1.0,1.0,1.0,1.0,NaN,NaN
3,0,2004,5,81054,3901.0,4908.0,6706.0,8577.0,4709.0,5827.0,...,594,1,3,0.0,1.0,0.0,0.0,0.0,NaN,NaN
4,0,2004,5,65328,2966.0,4038.0,6240.0,8496.0,2980.0,4115.0,...,533,1,4,0.0,1.0,0.0,0.0,0.0,NaN,NaN
5,1,2005,4,79315,4225.0,5380.0,7910.0,10108.0,4807.0,6077.0,...,1623,1,1,0.0,0.0,1.0,2.0,1.0,NaN,NaN
6,0,2006,3,74722,6999.0,9730.0,10743.0,14066.0,7952.0,9910.0,...,1623,1,1,0.0,0.0,1.0,2.0,1.0,NaN,NaN
7,0,2003,6,72132,2228.0,3217.0,5256.0,7589.0,2128.0,2690.0,...,1455,1,5,1.0,1.0,1.0,1.0,2.0,NaN,NaN
8,0,2005,4,80736,6742.0,7951.0,11068.0,12885.0,7670.0,9159.0,...,1243,1,5,0.0,0.0,1.0,3.0,2.0,NaN,NaN
9,0,2003,6,75156,2756.0,3475.0,5835.0,6925.0,3513.0,4572.0,...,1923,1,6,0.0,1.0,1.0,3.0,2.0,NaN,NaN